{
  "openapi": "3.0.0",
  "info": {
    "title": "Spira REST API",
    "version": "7.0",
    "description": "REST API for Spira v7.0"
  },
  "servers": [
    {
      "url": "https://demo-in.spiraservice.net/mtx/Services/v7_0/RestService.svc"
    }
  ],
  "tags": [
    {
      "name": "Artifact Documents",
      "description": "This resource lets you view/add documents associated to an artifact"
    },
    {
      "name": "Association",
      "description": "This resource lets you create, view and update artifact associations"
    },
    {
      "name": "Automated Test Run",
      "description": "This resource allows you to retrieve, create, modify and delete automated test runs in a specific project in the system."
    },
    {
      "name": "Automation Engine",
      "description": "This resource lets you create, and view automation engines in the system"
    },
    {
      "name": "Automation Host",
      "description": "This resource lets you create, view, update and delete automation hosts in the system"
    },
    {
      "name": "Capabilities",
      "description": "This resource lets you create, view, and update capabilities in a given program"
    },
    {
      "name": "Capability Priority",
      "description": "This resource lets you create, view, and update capability priorities in the system"
    },
    {
      "name": "Capability Requirement Association",
      "description": "This resource allows you to retrieve, create, and remove associations between a Capability and Requirement(s)"
    },
    {
      "name": "Capability Status",
      "description": "This resource lets you create, view, and update capability statuses in the system"
    },
    {
      "name": "Capability Type",
      "description": "This resource lets you create, view, and update capability types in the system"
    },
    {
      "name": "Component",
      "description": "This resource lets you create, edit, delete and view components in a project"
    },
    {
      "name": "Custom List",
      "description": "This resource allows you to retrieve and edit the custom lists defined in a specific project template"
    },
    {
      "name": "Custom List Value",
      "description": "This resource allows you to add custom list values to a custom list in a project template"
    },
    {
      "name": "Custom Property",
      "description": "This resource allows you to retrieve and edit the custom properties defined in a specific project template"
    },
    {
      "name": "Custom Query",
      "description": "This resource lets you create custom ESQL queries and return data"
    },
    {
      "name": "Data Mapping Artifacts",
      "description": "This resource lets you create and retrieve the data mapping for artifacts"
    },
    {
      "name": "Data Mapping Custom Properties",
      "description": "This resource lets you view the custom property data mappings"
    },
    {
      "name": "Data Mapping Custom Property Values",
      "description": "This resource lets you view the custom property value data mappings"
    },
    {
      "name": "Data Mapping Field Values",
      "description": "This resource lets you view the standard field data mappings"
    },
    {
      "name": "Data Mapping Projects",
      "description": "This resource lets you view the project data mappings"
    },
    {
      "name": "Data Mapping Users",
      "description": "This resource lets you view and add user data mappings"
    },
    {
      "name": "Data Sync",
      "description": "This resource lets you retrieve the data synchronization plugins configured and update the synchronization status"
    },
    {
      "name": "Data Sync Event",
      "description": "This resource lets you record events in Spira from data-synchronization activities"
    },
    {
      "name": "Document",
      "description": "This resource allows access to the document attachments in the system"
    },
    {
      "name": "Document Folder",
      "description": "This resources provides access to the active document folders in the project"
    },
    {
      "name": "Document Status",
      "description": "This resources provides access to the active document statuses in the product template"
    },
    {
      "name": "Document Type",
      "description": "This resources provides access to the active document types in the product template"
    },
    {
      "name": "Document Version",
      "description": "This resource lets you add new versions of documents"
    },
    {
      "name": "Floating Licenses",
      "description": "This resource lets you manage floating licenses"
    },
    {
      "name": "Graphs",
      "description": "This resource lets you retrieve custom graph data and images"
    },
    {
      "name": "History",
      "description": "This resource lets you view the history of changes made to artifacts"
    },
    {
      "name": "Incident",
      "description": "This resource allows you to retrieve, create, modify and delete incidents in a specific project in the system."
    },
    {
      "name": "Incident Comment",
      "description": "This resource allows you to retrieve the comments associated with an incident as well as add new comments to an existing incident."
    },
    {
      "name": "Incident Priority",
      "description": "This resource allows you to retrieve/create incident priorities defined in a specific project template"
    },
    {
      "name": "Incident Severity",
      "description": "This resource allows you to retrieve/create incident severities defined in a specific project template"
    },
    {
      "name": "Incident Status",
      "description": "This resource allows you to retrieve/create incident statuses defined in a specific project template"
    },
    {
      "name": "Incident Type",
      "description": "This resource allows you to retrieve/create incident types defined in a specific project template"
    },
    {
      "name": "Manual Test Run",
      "description": "This resource allows you to retrieve, create, modify and delete manual test runs in a specific project in the system."
    },
    {
      "name": "Message",
      "description": "This resource lets you receive and send instant messages"
    },
    {
      "name": "Program Milestone Releases",
      "description": "This resource allows you to retrieve, add and remove project releases associations to program milestones"
    },
    {
      "name": "Program Milestone Statuses",
      "description": "This resource allows you to retrieve, add, and update system wide program milestone statuses"
    },
    {
      "name": "Program Milestone Types",
      "description": "This resource allows you to retrieve, add, and update the system wide program milestone types"
    },
    {
      "name": "Program Milestones",
      "description": "This resource allows you to retrieve, create, modify & delete program milestones within a given program"
    },
    {
      "name": "Programs",
      "description": "This resource allows you to retrieve programs you have permissions to view"
    },
    {
      "name": "Project",
      "description": "This resource allows you to retrieve projects in the system"
    },
    {
      "name": "Project Role",
      "description": "This resource lets you view, create, update and delete project roles in the system"
    },
    {
      "name": "Project Template",
      "description": "This resource allows you to retrieve, create, delete, and update project templates in the system"
    },
    {
      "name": "Project User",
      "description": "This resource allows you to retrieve and modify the users associated with a specific project"
    },
    {
      "name": "Release",
      "description": "This resource allows you to retrieve and manage the releases and iterations defined in a specific project"
    },
    {
      "name": "Release Build",
      "description": "This resource lets you create, and view automated builds in the system"
    },
    {
      "name": "Release Comments",
      "description": "This resource allows you to retrieve the comments associated with a release as well as add new comments to an existing release. "
    },
    {
      "name": "Release Status",
      "description": "This resource lets you retrieve the list of release statuses in the system"
    },
    {
      "name": "Release Test Cases",
      "description": "This resource lets you retrieve, add and remove test cases to/from releases"
    },
    {
      "name": "Release Type",
      "description": "This resource lets you retrieve the list of release types in the system"
    },
    {
      "name": "Reports: Generated",
      "description": "This resource lets you check the status and retrieve a generated reports"
    },
    {
      "name": "Reports: Saved",
      "description": "This resource lets you retrieve and generate a saved report"
    },
    {
      "name": "Requirement",
      "description": "This resource allows you to retrieve, create, modify and delete requirements in a specific project in the system."
    },
    {
      "name": "Requirement Comment",
      "description": "This resource lets you retrieve and add comments to a requirement in the system."
    },
    {
      "name": "Requirement Importance",
      "description": "This resource lets you retrieve the list of requirement importances in the project template"
    },
    {
      "name": "Requirement Status",
      "description": "This resource lets you retrieve the list of requirement statuses in the project template"
    },
    {
      "name": "Requirement Step",
      "description": "This resource lets you create, modify and retrieve requirement steps"
    },
    {
      "name": "Requirement Test Coverage",
      "description": "This resource lets you view, add and remove test cases from requirements."
    },
    {
      "name": "Requirement Test Step Coverage",
      "description": "This resource lets you view, add and remove test steps from requirements."
    },
    {
      "name": "Requirement Type",
      "description": "This resource lets you retrieve the list of requirement types in the project template"
    },
    {
      "name": "Risk",
      "description": "This resource allows you to retrieve, create, modify and delete risks in a specific project in the system."
    },
    {
      "name": "Risk Comment",
      "description": "This resource allows you to add and retrieve risk comments in the system"
    },
    {
      "name": "Risk Impact",
      "description": "This resource lets you retrieve the list of risk impacts in the project template"
    },
    {
      "name": "Risk Mitigation",
      "description": "This resource lets you create, modify and retrieve risk mitigations"
    },
    {
      "name": "Risk Probability",
      "description": "This resource lets you retrieve the list of risk probabilities in the project template"
    },
    {
      "name": "Risk Status",
      "description": "This resource lets you retrieve the list of Risk statuses in the system"
    },
    {
      "name": "Risk Type",
      "description": "This resource lets you retrieve the list of Risk types in the project template"
    },
    {
      "name": "Saved Filters",
      "description": "This resource lets you retrieve the saved filters for a user"
    },
    {
      "name": "Source Code",
      "description": "This resource lets you view changes and code in linked source code repositories"
    },
    {
      "name": "Source Code File",
      "description": "This resource lets you view the source code files"
    },
    {
      "name": "Source Code Folder",
      "description": "This resource lets you view the source code folders"
    },
    {
      "name": "Source Code Provider Products",
      "description": "This resource lets you retrieve, create and modify source code product configurations, so source code can be hooked up at the product level"
    },
    {
      "name": "Source Code Providers",
      "description": "This resource lets you retrieve, create and modify source code providers for setting up source code integrations"
    },
    {
      "name": "Source Code Revision",
      "description": "This resource lets you view the revisions in linked source code repositories"
    },
    {
      "name": "Subscriptions",
      "description": "This resource lets you view subscribed items as well as subscribe/unsubscribe to artifacts"
    },
    {
      "name": "System",
      "description": "This resource contains information on the overall product instance, including version and settings information"
    },
    {
      "name": "System Custom List",
      "description": "This resource allows you to retrieve and edit the custom lists defined for global objects"
    },
    {
      "name": "System Custom Property",
      "description": "This resource allows you to retrieve and edit the custom properties defined for global objects"
    },
    {
      "name": "Task",
      "description": "This resource allows you to retrieve, create, modify and delete tasks in a specific project in the system."
    },
    {
      "name": "Task Comment",
      "description": "This resource allows you to add and retrieve task comments in the system"
    },
    {
      "name": "Task Folder",
      "description": "This resource allows you to retrieve, create, modify and delete task folders in the project"
    },
    {
      "name": "Task Priority",
      "description": "This resource lets you retrieve the list of task priorities in the project template"
    },
    {
      "name": "Task Status",
      "description": "This resource lets you retrieve the list of Task statuses in the system"
    },
    {
      "name": "Task Type",
      "description": "This resource lets you retrieve the list of Task types in the project template"
    },
    {
      "name": "Test Case",
      "description": "This resource allows you to retrieve, create, modify and delete test cases in a specific project in the system."
    },
    {
      "name": "Test Case Comment",
      "description": "This resource lets you add and view comments associated with test cases"
    },
    {
      "name": "Test Case Folder",
      "description": "This resource allows you to retrieve, create, modify and delete test case folders in the project"
    },
    {
      "name": "Test Case Folder Test Cases",
      "description": "This resources lets you retrieve test cases and count test cases by their containing folder"
    },
    {
      "name": "Test Case Link",
      "description": "This resource lets you add linked test cases to a test case"
    },
    {
      "name": "Test Case Parameter",
      "description": "This resource allows you to add/remove parameters to test cases"
    },
    {
      "name": "Test Case Priority",
      "description": "This resource lets you retrieve the list of Test Case priorities in the project template"
    },
    {
      "name": "Test Case Requirement Coverage",
      "description": "This resource lets you retrieve the list of Requirements that a Test Case is covering"
    },
    {
      "name": "Test Case Status",
      "description": "This resource lets you retrieve the list of Test Case statuses in the system"
    },
    {
      "name": "Test Case Type",
      "description": "This resource lets you retrieve the list of Test Case types in the project template"
    },
    {
      "name": "Test Configuration Set",
      "description": "This resource lets you retrieve test configuration sets"
    },
    {
      "name": "Test Run",
      "description": "This resource allows you to retrieve, create, modify and delete test runs in a specific project in the system."
    },
    {
      "name": "Test Set",
      "description": "This resource lets you create, view, edit and delete test sets in the system"
    },
    {
      "name": "Test Set Comment",
      "description": "This resource lets you add and view comments associated with test sets"
    },
    {
      "name": "Test Set Folder",
      "description": "This resource lets you create, view, edit and delete test set folders in the system"
    },
    {
      "name": "Test Set Folder Test Sets",
      "description": "This resources lets you retrieve test sets and count test sets by their containing folder"
    },
    {
      "name": "Test Set Parameter",
      "description": "This resource lets you the retrieve test parameter values associated with test sets"
    },
    {
      "name": "Test Set Test Case",
      "description": "This resource lets you create, view, modify the test cases associated with test sets"
    },
    {
      "name": "Test Set Test Case Parameter",
      "description": "This resource lets you retrieve the test parameter values associated with the test cases inside a test set"
    },
    {
      "name": "Test Step",
      "description": "This resource lets you create and delete test steps from test cases in the system"
    },
    {
      "name": "Test Step Parameter",
      "description": "This resource lets you retrieve the parameters associated with a specific test step"
    },
    {
      "name": "Timesheet Entries",
      "description": "This resource allows you to retrieve, create, modify and delete Timesheet Entries in the system."
    },
    {
      "name": "Timesheet Status",
      "description": "This resource lets you retrieve the list of Timesheet statuses in the system"
    },
    {
      "name": "Timesheets",
      "description": "This resource allows you to retrieve, create, modify and delete Timesheets in the system."
    },
    {
      "name": "User",
      "description": "This resource lets you create, retrieve and delete users in the system"
    },
    {
      "name": "User Contact",
      "description": "This resource lets you view a list of contacts, add a contact and remove one"
    }
  ],
  "components": {
    "securitySchemes": {
      "basicAuth": {
        "type": "http",
        "scheme": "basic"
      },
      "apiKeyHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "api-key"
      }
    },
    "schemas": {
      "Boolean": {
        "type": "object",
        "properties": {
          "TrueString": {"type": "string"},
          "FalseString": {"type": "string"}
        }
      },
      "Byte": {
        "type": "object",
        "properties": {
          "MaxValue": {"type": "object", "description": "Schema: Byte"},
          "MinValue": {"type": "object", "description": "Schema: Byte"}
        }
      },
      "DateRange": {
        "type": "object"
      },
      "DateTime": {
        "type": "object",
        "properties": {
          "MinValue": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z"},
          "MaxValue": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z"}
        }
      },
      "Int32": {
        "type": "object",
        "properties": {
          "MaxValue": {"type": "integer"},
          "MinValue": {"type": "integer"}
        }
      },
      "Int64": {
        "type": "object",
        "properties": {
          "MaxValue": {"type": "integer"},
          "MinValue": {"type": "integer"}
        }
      },
      "RemoteArtifactSubscription": {
        "type": "object",
        "properties": {
          "ArtifactId": {"type": "integer", "description": "The id of the artifact"},
          "ArtifactTypeId": {"type": "integer", "description": "The id of the artifact type"},
          "ArtifactName": {"type": "string", "description": "The name of the artifact"},
          "ArtifactDescription": {"type": "string", "description": "The long description of the artifact"},
          "ArtifactTypeName": {"type": "string", "description": "The display name of the type of artifact"},
          "ProjectId": {"type": "integer", "description": "The id of the project"},
          "ProjectName": {"type": "string", "description": "The name of the project"},
          "UserId": {"type": "integer", "description": "The id of the user"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time the artifact was last updated"},
          "UserFullName": {"type": "string", "description": "The full name of the user"}
        }
      },
      "RemoteAssociation": {
        "type": "object",
        "properties": {
          "ArtifactLinkId": {"type": "integer", "nullable": true, "description": "The id of the association/link"},
          "SourceArtifactId": {"type": "integer", "description": "The artifact id being linked FROM"},
          "SourceArtifactTypeId": {"type": "integer", "description": "The type of artifact being linked FROM"},
          "SourceArtifactGuid": {"type": "string", "description": "GUID of the artifact being linked FROM"},
          "DestArtifactId": {"type": "integer", "description": "The artifact id being linked TO"},
          "DestArtifactTypeId": {"type": "integer", "description": "The type of artifact being linked TO"},
          "DestArtifactGuid": {"type": "string", "description": "GUID of the artifact being linked TO"},
          "ArtifactLinkTypeId": {"type": "integer", "description": "The type of artifact link (related to, depends-upon, etc.)"},
          "CreatorId": {"type": "integer", "nullable": true, "description": "The user creating the association/link"},
          "Comment": {"type": "string", "description": "A comment that describes the association in more detail"},
          "CreationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date/time the association was created"},
          "DestArtifactName": {"type": "string", "description": "The display name of the artifact being linked to"},
          "DestArtifactTypeName": {"type": "string", "description": "The display name of the type of artifact being linked to"},
          "CreatorName": {"type": "string", "description": "The display name of the user that created the association/link"},
          "ArtifactLinkTypeName": {"type": "string", "description": "The display name of the type of association/link"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteAutomatedTestRun": {
        "type": "object",
        "properties": {
          "TestRunFormatId": {"type": "integer", "description": "The format of the automation results (1=Plain Text, 2=HTML) stored in the 'RunnerStackTrace' field - required"},
          "RunnerName": {"type": "string", "description": "The name of the external automated tool that executed the test - required"},
          "RunnerTestName": {"type": "string", "description": "The name of the test case as it is known in the external tool - required"},
          "RunnerAssertCount": {"type": "integer", "nullable": true, "description": "The number of assertions/errors reported during the automated test execution"},
          "RunnerMessage": {"type": "string", "description": "The summary result of the test case - required"},
          "RunnerStackTrace": {"type": "string", "description": "The detailed trace of test results reported back from the automated testing tool - required"},
          "AutomationHostId": {"type": "integer", "nullable": true, "description": "The id of the automation host that the result is being recorded for"},
          "AutomationEngineId": {"type": "integer", "nullable": true, "description": "The id of the automation engine that the result is being recorded for"},
          "AutomationEngineToken": {"type": "string", "description": "The token of the automation engine that the result is being recorded for (read-only)"},
          "AutomationAttachmentId": {"type": "integer", "nullable": true, "description": "The id of the attachment that is being used to store the test script (file or url)"},
          "Parameters": {"type": "array", "description": "The list of test case parameters that have been provided", "items": {"type": "object", "description": "Schema: RemoteTestSetTestCaseParameter"}},
          "ScheduledDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The datetime the test was scheduled for"},
          "TestRunSteps": {"type": "array", "description": "The list of test steps that comprise the automated test", "items": {"type": "object", "description": "Schema: RemoteTestRunStep"}},
          "TestRunId": {"type": "integer", "nullable": true, "description": "The id of the test run"},
          "Name": {"type": "string", "description": "The name of the test run (usually the same as the test case)"},
          "TestCaseId": {"type": "integer", "description": "The id of the test case that the test run is an instance of"},
          "TestCaseGuid": {"type": "string", "description": "The guid of the test case that the test run is an instance of"},
          "TestRunTypeId": {"type": "integer", "description": "The id of the type of test run (automated vs. manual)"},
          "TesterId": {"type": "integer", "nullable": true, "description": "The id of the user that executed the test"},
          "TesterGuid": {"type": "string", "description": "The guid of the tester."},
          "ExecutionStatusId": {"type": "integer", "description": "The id of overall execution status for the test run"},
          "ReleaseId": {"type": "integer", "nullable": true, "description": "The id of the release that the test run should be reported against"},
          "ReleaseGuid": {"type": "string", "description": "The guid of the release"},
          "TestSetId": {"type": "integer", "nullable": true, "description": "The id of the test set that the test run should be reported against"},
          "TestSetGuid": {"type": "string", "description": "The guid of the test set"},
          "TestSetTestCaseId": {"type": "integer", "nullable": true, "description": "The id of the unique test case entry in the test set"},
          "StartDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time that the test execution was started"},
          "EndDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date/time that the test execution was completed"},
          "BuildId": {"type": "integer", "nullable": true, "description": "The id of the build that the test was executed against"},
          "EstimatedDuration": {"type": "integer", "nullable": true, "description": "The estimated duration of how long the test should take to execute (read-only)"},
          "ActualDuration": {"type": "integer", "nullable": true, "description": "The actual duration of how long the test should take to execute (read-only)"},
          "TestConfigurationId": {"type": "integer", "nullable": true, "description": "The id of the specific test configuration that was used"},
          "ReleaseVersionNumber": {"type": "string", "description": "version number of the release this test run was run against."},
          "ProjectId": {"type": "integer", "description": "The id of the project that the artifact belongs to"},
          "ProjectGuid": {"type": "string", "description": "The guid of the project that the artifact belongs to"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The datetime used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this artifact", "items": {"type": "object", "description": "Schema: RemoteArtifactCustomProperty"}},
          "IsAttachments": {"type": "boolean", "description": "Does this artifact have any attachments?"},
          "Tags": {"type": "string", "description": "The list of meta-tags that should be associated with the artifact"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"}
        }
      },
      "RemoteAutomationEngine": {
        "type": "object",
        "properties": {
          "AutomationEngineId": {"type": "integer", "nullable": true, "description": "The id of the engine"},
          "Name": {"type": "string", "description": "The display name of the engine"},
          "Token": {"type": "string", "description": "The token of the engine"},
          "Description": {"type": "string", "description": "The detailed description of the engine"},
          "Active": {"type": "boolean", "description": "Is this host active for the project"}
        }
      },
      "RemoteAutomationHost": {
        "type": "object",
        "properties": {
          "AutomationHostId": {"type": "integer", "nullable": true, "description": "The id of the host"},
          "Name": {"type": "string", "description": "The name of the host"},
          "Token": {"type": "string", "description": "The token of the host"},
          "Description": {"type": "string", "description": "The detailed description of the host"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time that the host was last modified"},
          "Active": {"type": "boolean", "description": "Is this host active for the project"},
          "LastContactDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The last time this host was contacted"},
          "ProjectId": {"type": "integer", "description": "The id of the project that the artifact belongs to"},
          "ProjectGuid": {"type": "string", "description": "The guid of the project that the artifact belongs to"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The datetime used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this artifact", "items": {"type": "object", "description": "Schema: RemoteArtifactCustomProperty"}},
          "IsAttachments": {"type": "boolean", "description": "Does this artifact have any attachments?"},
          "Tags": {"type": "string", "description": "The list of meta-tags that should be associated with the artifact"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"}
        }
      },
      "RemoteBuild": {
        "type": "object",
        "properties": {
          "BuildId": {"type": "integer", "nullable": true, "description": "The id of the build"},
          "Guid": {"type": "string", "description": "The unique identifier for the build"},
          "BuildStatusId": {"type": "integer", "description": "The id of the status of the build (1=Failed, 2=Passed)"},
          "ProjectId": {"type": "integer", "description": "The id of the project the build belongs to"},
          "ReleaseId": {"type": "integer", "description": "The id of the release or iteration the build belongs to"},
          "ReleaseGuid": {"type": "string", "description": "The guid of the release or iteration the build belongs to"},
          "Name": {"type": "string", "description": "The name of the build"},
          "Description": {"type": "string", "description": "The detailed description of the host"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time that the build was last modified"},
          "CreationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date the build was created"},
          "BuildStatusName": {"type": "string", "description": "The display name of the status of the build"},
          "Revisions": {"type": "array", "description": "The list of source code revisions associated with the build", "items": {"type": "object", "description": "Schema: RemoteBuildSourceCode"}}
        }
      },
      "RemoteCapability": {
        "type": "object",
        "properties": {
          "CapabilityId": {"type": "integer", "nullable": true, "description": "ID of the program capability"},
          "ProjectGroupId": {"type": "integer", "description": "ID of the project group which this capability belongs to"},
          "MilestoneId": {"type": "integer", "nullable": true, "description": "The ID of the Program Milestone this capability belongs to"},
          "MilestoneName": {"type": "string", "description": "The name of the Program Milestone this capability belongs to"},
          "StatusId": {"type": "integer", "description": "ID of the capability status this capability has"},
          "StatusName": {"type": "string", "description": "Name of the capability status this capability has"},
          "StatusIsOpen": {"type": "boolean", "nullable": true, "description": "Whether or not this status makes this capability \"Open\""},
          "TypeId": {"type": "integer", "description": "ID of the capability type this capability has"},
          "TypeName": {"type": "string", "description": "Name of the capability type this capability has"},
          "PriorityId": {"type": "integer", "nullable": true, "description": "ID of the capability priority this capability has"},
          "PriorityName": {"type": "string", "description": "Name of the capability priority this capability has"},
          "Name": {"type": "string", "description": "Name of this capability"},
          "Description": {"type": "string", "description": "Description of the capability"},
          "PercentComplete": {"type": "integer", "description": "Percent Completion of the capability"},
          "RequirementCount": {"type": "integer", "description": "Number of requirements associated with this capability"},
          "IndentLevel": {"type": "string", "description": "Indent level of this capability in the hierarchy"},
          "Guid": {"type": "string", "description": "Artifact guid for avoiding concurrency interactions"},
          "CreatorId": {"type": "integer", "nullable": true, "description": "UserId of the creator of this capability"},
          "CreatorName": {"type": "string", "description": "Full name of the creator of this capability"},
          "OwnerId": {"type": "integer", "nullable": true, "description": "UserId of the owner of this capability"},
          "OwnerName": {"type": "string", "description": "Full name of the owner of this capability"},
          "CreationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true},
          "IsSummary": {"type": "boolean", "description": "This Capability represents a summary in the program?"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyGuid": {"type": "string", "description": "The field used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this workspace", "items": {"type": "object", "description": "Schema: RemoteSystemArtifactCustomProperty"}}
        }
      },
      "RemoteCapabilityPriority": {
        "type": "object",
        "properties": {
          "CapabilityPriorityId": {"type": "integer", "nullable": true, "description": "The id of the capability priority"},
          "Name": {"type": "string", "description": "The name of the priority"},
          "Color": {"type": "string", "description": "The hex color code associated with the priority (string)"},
          "IsActive": {"type": "boolean", "description": "Is this an active priority"},
          "Score": {"type": "integer", "nullable": true, "description": "The score value"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteCapabilityStatus": {
        "type": "object",
        "properties": {
          "CapabilityStatusId": {"type": "integer", "nullable": true, "description": "The id of the capability status"},
          "Name": {"type": "string", "description": "The name of the status"},
          "Position": {"type": "integer", "description": "The position of the status in the list"},
          "IsActive": {"type": "boolean", "description": "Is this an active status"},
          "IsDefault": {"type": "boolean", "description": "Is this the default status"},
          "IsOpen": {"type": "boolean", "description": "Is this an open status"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteCapabilityType": {
        "type": "object",
        "properties": {
          "CapabilityTypeId": {"type": "integer", "nullable": true, "description": "The id of the capability type"},
          "Name": {"type": "string", "description": "The name of the type"},
          "IsActive": {"type": "boolean", "description": "Is this an active type"},
          "IsDefault": {"type": "boolean", "description": "Is this the default type"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteComment": {
        "type": "object",
        "properties": {
          "CommentId": {"type": "integer", "nullable": true, "description": "The unique ID for this comment / artifact type."},
          "ArtifactId": {"type": "integer", "description": "The artifact ID that this comment belongs to."},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "UserId": {"type": "integer", "nullable": true, "description": "The userID of the author."},
          "UserGuid": {"type": "string", "description": "The user guid."},
          "UserName": {"type": "string", "description": "The full name of the author."},
          "Text": {"type": "string", "description": "The text of the comment."},
          "CreationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date and time the comment was made."},
          "IsDeleted": {"type": "boolean", "description": "Whether the comment was marked for deletion or hidden."},
          "IsPermanent": {"type": "boolean", "description": "Whether the comment can be deleted or is a permanent one"}
        }
      },
      "RemoteComponent": {
        "type": "object",
        "properties": {
          "ComponentId": {"type": "integer", "nullable": true, "description": "The id of the Component (id - integer)"},
          "ProjectId": {"type": "integer", "description": "The id of the project the component belongs to (id - integer)"},
          "Name": {"type": "string", "description": "The name of the Component (string)"},
          "IsActive": {"type": "boolean", "description": "Is the component active (boolean)"},
          "IsDeleted": {"type": "boolean", "description": "Is the component deleted (boolean)"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteCustomList": {
        "type": "object",
        "properties": {
          "CustomPropertyListId": {"type": "integer", "nullable": true, "description": "The id of the custom list"},
          "ProjectTemplateId": {"type": "integer", "description": "The id of the project template the custom list belongs to"},
          "Name": {"type": "string", "description": "The name of the custom list"},
          "Active": {"type": "boolean", "description": "Whether the list is active or not"},
          "SortedOnValue": {"type": "boolean", "description": "Whether the list is sorted on value or not"},
          "Values": {"type": "array", "description": "The collection of values in the custom list", "items": {"type": "object", "description": "Schema: RemoteCustomListValue"}},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteCustomListValue": {
        "type": "object",
        "properties": {
          "CustomPropertyValueId": {"type": "integer", "nullable": true, "description": "The id of the custom list value"},
          "CustomPropertyListId": {"type": "integer", "description": "The id of the custom list the value belongs to"},
          "Name": {"type": "string", "description": "The name of the custom list value"},
          "Active": {"type": "boolean", "description": "Is the custom list value active or not"},
          "ParentCustomPropertyValueId": {"type": "integer", "nullable": true, "description": "The id of any parent custom list value"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteCustomProperty": {
        "type": "object",
        "properties": {
          "CustomPropertyId": {"type": "integer", "nullable": true, "description": "The id of the custom property (leave null for newly created ones)"},
          "ProjectTemplateId": {"type": "integer", "description": "The project template the custom property belongs to"},
          "ArtifactTypeId": {"type": "integer", "description": "The artifact type that the custom property is for"},
          "Name": {"type": "string", "description": "The display name for the custom property"},
          "CustomList": {"type": "object", "description": "The associated custom list if this is a list custom property (Schema: RemoteCustomList)"},
          "CustomPropertyFieldName": {"type": "string", "description": "The internal field name of the custom property (e.g. Custom_01)"},
          "CustomPropertyTypeId": {"type": "integer", "description": "The type of custom property. It can have the following values:\n                Text = 1,\n                Integer = 2,\n                Decimal = 3,\n                Boolean = 4,\n                Date = 5,\n                List = 6,\n                MultiList = 7,\n                User = 8,\n                Password = 9,\n                Release = 10,\n                Date and Time = 11,\n                Automation Host = 12"},
          "CustomPropertyTypeName": {"type": "string", "description": "The display name of the type of custom property"},
          "IsDeleted": {"type": "boolean", "description": "Has this custom property been deleted"},
          "PropertyNumber": {"type": "integer", "description": "The position number of this custom property (1-30). Each artifact type can have 30 custom properties per project"},
          "SystemDataType": {"type": "string", "description": "The physical data type that this custom property is stored as (Int32, String, DataTime, etc.)"},
          "Options": {"type": "array", "description": "The collection of custom property options", "items": {"type": "object", "description": "Schema: RemoteCustomPropertyOption"}},
          "Position": {"type": "integer", "nullable": true, "description": "The position of this property in the user interface"},
          "Description": {"type": "string", "description": "Describes the purpose of this custom property"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteDataMapping": {
        "type": "object",
        "properties": {
          "ProjectId": {"type": "integer", "nullable": true, "description": "The project that the data mapping entry relates to (null if it's not project specific)"},
          "InternalId": {"type": "integer", "description": "The id of the item inside Spira"},
          "ExternalKey": {"type": "string", "description": "The id of the item in the external system"},
          "Primary": {"type": "boolean", "description": "Whether this is the primary external mapped value in the case of 1..n mapping"},
          "ArtifactTypeId": {"type": "integer", "nullable": true, "description": "If the data mapping is an artifact data mapping, gives ArtifactTypeId whcih the InternalId relates to"}
        }
      },
      "RemoteDataSyncSystem": {
        "type": "object",
        "properties": {
          "DataSyncSystemId": {"type": "integer", "description": "The id the data-sync plug-in"},
          "DataSyncStatusId": {"type": "integer", "description": "The id of the synchronization status (for the last time it ran)"},
          "Name": {"type": "string", "description": "The name of the data-sync plug-in"},
          "DisplayName": {"type": "string", "description": "The display name of the data-sync plug-in"},
          "Description": {"type": "string", "description": "The description of the data-sync plug-in"},
          "ConnectionString": {"type": "string", "description": "The connection string (often a URL) for accessing the external system"},
          "Login": {"type": "string", "description": "The username / login for accessing the external system"},
          "Password": {"type": "string", "description": "The password for accessing the external system"},
          "TimeOffsetHours": {"type": "integer", "description": "The number of hours to add to the last-updated date/times when making comparisons"},
          "LastSyncDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date/time that the data-sync last ran"},
          "Custom01": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom02": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom03": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom04": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom05": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom06": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom07": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom08": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom09": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom10": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom11": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom12": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom13": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom14": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom15": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom16": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom17": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom18": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom19": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom20": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom21": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom22": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom23": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom24": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "Custom25": {"type": "string", "description": "Custom value, its use is dependent on the specific data-sync plug-in"},
          "AutoMapUsers": {"type": "boolean", "description": "Should we attempt to auto-map user in the two systems"},
          "DataSyncStatusName": {"type": "string", "description": "The display name of the synchronization status"},
          "IsActive": {"type": "boolean", "description": "Is the data-sync system active"}
        }
      },
      "RemoteDocument": {
        "type": "object",
        "properties": {
          "AttachmentId": {"type": "integer", "nullable": true, "description": "The id of the attachment"},
          "AttachmentTypeId": {"type": "integer", "description": "The id of the attachment type"},
          "DocumentTypeId": {"type": "integer", "nullable": true, "description": "The id of the document type relative to the current project template"},
          "DocumentStatusId": {"type": "integer", "nullable": true, "description": "The id of the document status relative to the current project template"},
          "ProjectAttachmentFolderId": {"type": "integer", "nullable": true, "description": "The id of the attachment folder id for the current project"},
          "AttachedArtifacts": {"type": "array", "description": "The list of artifacts the document is attached to", "items": {"type": "object", "description": "Schema: RemoteLinkedArtifact"}},
          "AuthorId": {"type": "integer", "nullable": true, "description": "The id of the user that uploaded the attachment"},
          "EditorId": {"type": "integer", "nullable": true, "description": "The id of the user that edited the document"},
          "AuthorGuid": {"type": "string", "description": "The guid of the author."},
          "EditorGuid": {"type": "string", "description": "The guid of the editor."},
          "FilenameOrUrl": {"type": "string", "description": "The filename of the file (if a file attachment) or the full URL if a URL attachment"},
          "Description": {"type": "string", "description": "The description of the attachment"},
          "UploadDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time the attachment was uploaded"},
          "EditedDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time the attachment was last edited"},
          "Size": {"type": "integer", "description": "The size of the attachment in bytes"},
          "CurrentVersion": {"type": "string", "description": "The version name of the current attachment"},
          "Versions": {"type": "array", "description": "The list of document versions", "items": {"type": "object", "description": "Schema: RemoteDocumentVersion"}},
          "DocumentTypeName": {"type": "string", "description": "The display name of the attachment type relative to the current project template"},
          "DocumentStatusName": {"type": "string", "description": "The display name of the document status relative to the current project template"},
          "AttachmentTypeName": {"type": "string", "description": "The display name of the attachment type (i.e. whether it's a file or url)"},
          "AuthorName": {"type": "string", "description": "The display name of the user that uploaded the attachment"},
          "EditorName": {"type": "string", "description": "The display name of the user that edited the document"},
          "ProjectId": {"type": "integer", "description": "The id of the project that the artifact belongs to"},
          "ProjectGuid": {"type": "string", "description": "The guid of the project that the artifact belongs to"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The datetime used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this artifact", "items": {"type": "object", "description": "Schema: RemoteArtifactCustomProperty"}},
          "IsAttachments": {"type": "boolean", "description": "Does this artifact have any attachments?"},
          "Tags": {"type": "string", "description": "The list of meta-tags that should be associated with the artifact"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"}
        }
      },
      "RemoteDocumentFile": {
        "type": "object",
        "properties": {
          "BinaryData": {"type": "array", "description": "The file data base64 encoded if using the REST service", "items": {"type": "object", "description": "Schema: Byte"}},
          "AttachmentId": {"type": "integer", "nullable": true, "description": "The id of the attachment"},
          "AttachmentTypeId": {"type": "integer", "description": "The id of the attachment type"},
          "DocumentTypeId": {"type": "integer", "nullable": true, "description": "The id of the document type relative to the current project template"},
          "DocumentStatusId": {"type": "integer", "nullable": true, "description": "The id of the document status relative to the current project template"},
          "ProjectAttachmentFolderId": {"type": "integer", "nullable": true, "description": "The id of the attachment folder id for the current project"},
          "AttachedArtifacts": {"type": "array", "description": "The list of artifacts the document is attached to", "items": {"type": "object", "description": "Schema: RemoteLinkedArtifact"}},
          "AuthorId": {"type": "integer", "nullable": true, "description": "The id of the user that uploaded the attachment"},
          "EditorId": {"type": "integer", "nullable": true, "description": "The id of the user that edited the document"},
          "AuthorGuid": {"type": "string", "description": "The guid of the author."},
          "EditorGuid": {"type": "string", "description": "The guid of the editor."},
          "FilenameOrUrl": {"type": "string", "description": "The filename of the file (if a file attachment) or the full URL if a URL attachment"},
          "Description": {"type": "string", "description": "The description of the attachment"},
          "UploadDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time the attachment was uploaded"},
          "EditedDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time the attachment was last edited"},
          "Size": {"type": "integer", "description": "The size of the attachment in bytes"},
          "CurrentVersion": {"type": "string", "description": "The version name of the current attachment"},
          "Versions": {"type": "array", "description": "The list of document versions", "items": {"type": "object", "description": "Schema: RemoteDocumentVersion"}},
          "DocumentTypeName": {"type": "string", "description": "The display name of the attachment type relative to the current project template"},
          "DocumentStatusName": {"type": "string", "description": "The display name of the document status relative to the current project template"},
          "AttachmentTypeName": {"type": "string", "description": "The display name of the attachment type (i.e. whether it's a file or url)"},
          "AuthorName": {"type": "string", "description": "The display name of the user that uploaded the attachment"},
          "EditorName": {"type": "string", "description": "The display name of the user that edited the document"},
          "ProjectId": {"type": "integer", "description": "The id of the project that the artifact belongs to"},
          "ProjectGuid": {"type": "string", "description": "The guid of the project that the artifact belongs to"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The datetime used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this artifact", "items": {"type": "object", "description": "Schema: RemoteArtifactCustomProperty"}},
          "IsAttachments": {"type": "boolean", "description": "Does this artifact have any attachments?"},
          "Tags": {"type": "string", "description": "The list of meta-tags that should be associated with the artifact"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"}
        }
      },
      "RemoteDocumentFolder": {
        "type": "object",
        "properties": {
          "ProjectAttachmentFolderId": {"type": "integer", "nullable": true, "description": "The id of the document folder"},
          "ProjectId": {"type": "integer", "description": "The id of the project that the folder belongs to"},
          "ParentProjectAttachmentFolderId": {"type": "integer", "nullable": true, "description": "The id of the parent folder of this folder"},
          "Name": {"type": "string", "description": "The name of the folder."},
          "IndentLevel": {"type": "string", "description": "The indentation level of the artifact"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteDocumentStatus": {
        "type": "object",
        "properties": {
          "DocumentStatusId": {"type": "integer", "nullable": true, "description": "The id of the incident status (integer)"},
          "ProjectTemplateId": {"type": "integer", "description": "The id of the project template that the status belongs to"},
          "Name": {"type": "string", "description": "The name of the incident status (string)"},
          "Active": {"type": "boolean", "description": "Whether this status is active or not (boolean)"},
          "Default": {"type": "boolean", "description": "Whether this status is default or not (boolean)"},
          "Open": {"type": "boolean", "description": "Whether this status is considered an 'open' status or not (boolean)"},
          "Position": {"type": "integer", "nullable": true, "description": "The display position of this status"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteDocumentType": {
        "type": "object",
        "properties": {
          "DocumentTypeId": {"type": "integer", "nullable": true, "description": "The id of the document type"},
          "ProjectTemplateId": {"type": "integer", "description": "The id of the project template that the type belongs to"},
          "Name": {"type": "string", "description": "The name of the document type."},
          "Description": {"type": "string", "description": "The description of the document type."},
          "Active": {"type": "boolean", "description": "Is this type active"},
          "Default": {"type": "boolean", "description": "Is this the default type for the project"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteDocumentVersion": {
        "type": "object",
        "properties": {
          "AttachmentVersionId": {"type": "integer", "nullable": true, "description": "The id of the document version"},
          "AttachmentVersionGuid": {"type": "string", "description": "The unique identifier for the artifact"},
          "AttachmentId": {"type": "integer", "description": "The id of the document"},
          "AttachmentGuid": {"type": "string", "description": "The unique identifier for the artifact"},
          "AuthorId": {"type": "integer", "nullable": true, "description": "The id of the user that uploaded the version"},
          "FilenameOrUrl": {"type": "string", "description": "The filename of the file (if a file attachment) or the full URL if a URL attachment"},
          "Description": {"type": "string", "description": "The description of the attachment version"},
          "UploadDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time the attachment version was uploaded"},
          "Size": {"type": "integer", "description": "The size of the attachment version in bytes"},
          "VersionNumber": {"type": "string", "description": "The version number"},
          "AuthorName": {"type": "string", "description": "The display name of the user that uploaded the attachment version"},
          "IsActive": {"type": "boolean", "description": "Discerns whether this is the current active version of this document"}
        }
      },
      "RemoteDocumentVersionFile": {
        "type": "object",
        "properties": {
          "BinaryData": {"type": "array", "description": "The file data base64 encoded if using the REST service", "items": {"type": "object", "description": "Schema: Byte"}},
          "AttachmentVersionId": {"type": "integer", "nullable": true, "description": "The id of the document version"},
          "AttachmentVersionGuid": {"type": "string", "description": "The unique identifier for the artifact"},
          "AttachmentId": {"type": "integer", "description": "The id of the document"},
          "AttachmentGuid": {"type": "string", "description": "The unique identifier for the artifact"},
          "AuthorId": {"type": "integer", "nullable": true, "description": "The id of the user that uploaded the version"},
          "FilenameOrUrl": {"type": "string", "description": "The filename of the file (if a file attachment) or the full URL if a URL attachment"},
          "Description": {"type": "string", "description": "The description of the attachment version"},
          "UploadDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time the attachment version was uploaded"},
          "Size": {"type": "integer", "description": "The size of the attachment version in bytes"},
          "VersionNumber": {"type": "string", "description": "The version number"},
          "AuthorName": {"type": "string", "description": "The display name of the user that uploaded the attachment version"},
          "IsActive": {"type": "boolean", "description": "Discerns whether this is the current active version of this document"}
        }
      },
      "RemoteEvent": {
        "type": "object",
        "properties": {
          "EventLogEntryType": {"type": "integer", "description": "The type of event log entry (Error = 1, Warning = 2, Information = 4, SuccessAudit = 8, FailureAudit = 16)"},
          "Message": {"type": "string", "description": "The short message"},
          "Details": {"type": "string", "description": "The full stack-trace and details"}
        }
      },
      "RemoteEvent2": {
        "type": "object",
        "properties": {
          "EventTypeId": {"type": "integer", "description": "The type of event log entry (Error = 1, Warning = 2, Information = 4, SuccessAudit = 8, FailureAudit = 16)"},
          "EventTypeName": {"type": "string", "description": "The name of the event type"},
          "Message": {"type": "string", "description": "The short message"},
          "Details": {"type": "string", "description": "The full stack-trace and details"},
          "EventTimeUtc": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The event time in UTC"},
          "EventCategory": {"type": "string", "description": "The event category"},
          "EventCode": {"type": "integer", "description": "The event code"},
          "EventId": {"type": "string", "description": "The event id"}
        }
      },
      "RemoteFilter": {
        "type": "object",
        "properties": {
          "PropertyName": {"type": "string", "description": "The name of the field being filtered on. For standard fields it would be something like 'RequirementStatusId',\n            for custom properties, it would be of the format: 'Custom_01' not the display name."},
          "IntValue": {"type": "integer", "nullable": true, "description": "The filter value for fields that contain integers"},
          "StringValue": {"type": "string", "description": "The filter value for fields that contain strings"},
          "MultiValue": {"type": "object", "description": "The filter value for fields that contain integers (Schema: MultiValueFilter)"},
          "DateRangeValue": {"type": "object", "description": "The filter value for date/time fields where you want to filter on a date range (Schema: DateRange)"}
        }
      },
      "RemoteFloatingLicense": {
        "type": "object",
        "properties": {
          "SessionId": {"type": "string", "description": "The GUID of the unique floating license session"},
          "AutomationEngineToken": {"type": "string", "description": "The token of the tool which the license is for (currently only \"Rapise\" is supported)"},
          "MachineId": {"type": "string", "description": "The unique ID of the machine requesting the license"},
          "AutomationHost": {"type": "string", "description": "The token of the automation host assigned to this machine"},
          "DateStarted": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date the license was first issued"},
          "ExpirationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The expiration date of the license"},
          "LastContactDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date of last contact between the tool and Spira"},
          "IpAddress": {"type": "string", "description": "The IP address of the machine holding the floating license"}
        }
      },
      "RemoteHistoryChange": {
        "type": "object",
        "properties": {
          "HistoryChangeId": {"type": "integer", "description": "The id of the change"},
          "ChangeSetId": {"type": "integer", "description": "The id of the change set this belongs to"},
          "CustomPropertyId": {"type": "integer", "nullable": true, "description": "The id of the custom property if this was a custom property that was changed (NULL = standard field)"},
          "ArtifactFieldId": {"type": "integer", "nullable": true, "description": "The id of the artifact field if this was a standard field that was changed (NULL = custom property)"},
          "FieldName": {"type": "string", "description": "The system name of either the standard field or the custom property"},
          "OldValue": {"type": "string", "description": "The old value of the field serialized as a string"},
          "NewValue": {"type": "string", "description": "The new value of the field serialized as a string"},
          "FieldCaption": {"type": "string", "description": "The display name of either the standard field or the custom property"},
          "ChangeSet": {"type": "object", "description": "The changeset information (Schema: RemoteHistoryChangeSet)"}
        }
      },
      "RemoteHistoryChangeSet": {
        "type": "object",
        "properties": {
          "HistoryChangeSetId": {"type": "integer", "description": "The ID of the change set"},
          "ProjectId": {"type": "integer", "description": "The ID of the project"},
          "UserId": {"type": "integer", "description": "The ID of the user that made the change"},
          "UserFullName": {"type": "string", "description": "The full name of the user that made the change"},
          "ArtifactId": {"type": "integer", "description": "The ID of the artifact being changed"},
          "ArtifactName": {"type": "string", "description": "The name of the artifact being changed"},
          "ArtifactTypeId": {"type": "integer", "description": "The id of the type of artifact"},
          "ArtifactTypeName": {"type": "string", "description": "The name of the type of artifact"},
          "ChangeDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time of the change"},
          "ChangeTypeId": {"type": "integer", "description": "The id of the type of change"},
          "ChangeTypeName": {"type": "string", "description": "The name of the type of change"},
          "SignedId": {"type": "integer", "description": "Whether this change was signed by an electronic signature"},
          "Changes": {"type": "array", "description": "The collection of field changes in this set", "items": {"type": "object", "description": "Schema: RemoteHistoryChange"}},
          "Meaning": {"type": "string", "description": "The meaning of the changed if it's a signed changeset"}
        }
      },
      "RemoteIncident": {
        "type": "object",
        "properties": {
          "IncidentId": {"type": "integer", "nullable": true, "description": "The id of the incident (integer)"},
          "PriorityId": {"type": "integer", "nullable": true, "description": "The id of the priority of the incident (integer)"},
          "SeverityId": {"type": "integer", "nullable": true, "description": "The id of the severity of the incident (integer)"},
          "IncidentStatusId": {"type": "integer", "nullable": true, "description": "The id of the status of the incident (integer)"},
          "IncidentTypeId": {"type": "integer", "nullable": true, "description": "The id of the type of the incident (integer)"},
          "OpenerId": {"type": "integer", "nullable": true, "description": "The id of the user who detected the incident (integer)"},
          "OwnerId": {"type": "integer", "nullable": true, "description": "The id of the user to the incident is assigned-to (integer)"},
          "OpenerGuid": {"type": "string", "description": "The guid of the opener."},
          "OwnerGuid": {"type": "string", "description": "The guid of the owner."},
          "TestRunStepIds": {"type": "array", "description": "The id of the test run steps that the incident relates to (integer)", "items": {"type": "integer"}},
          "DetectedReleaseId": {"type": "integer", "nullable": true, "description": "The id of the release/iteration that the incident was detected in (integer)"},
          "ResolvedReleaseId": {"type": "integer", "nullable": true, "description": "The id of the release/iteration that the incident will be fixed in (integer)"},
          "VerifiedReleaseId": {"type": "integer", "nullable": true, "description": "The id of the release/iteration that the incident was retested in (integer)"},
          "DetectedReleaseGuid": {"type": "string", "description": "The guid of the Detected release"},
          "ResolvedReleaseGuid": {"type": "string", "description": "The guid of the Resolved release"},
          "VerifiedReleaseGuid": {"type": "string", "description": "The guid of the Verified release"},
          "ComponentIds": {"type": "array", "description": "The list of components that this incident belongs to (array of integers)", "items": {"type": "integer"}},
          "Name": {"type": "string", "description": "The name of the incident (string)"},
          "Description": {"type": "string", "description": "The description of the incident (string)"},
          "CreationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date/time that the incident was originally created"},
          "StartDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date that work started on the incident (date-time)"},
          "EndDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date that work is scheduled to finish on the incident (date-time)"},
          "ClosedDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date that the incident was closed (date-time)"},
          "CompletionPercent": {"type": "integer", "description": "The completion percentage (value = 0-100) of the incident as calculated in the system from the remaining effort\n            vs. the original estimated effort. (integer)"},
          "EstimatedEffort": {"type": "integer", "nullable": true, "description": "The estimated effort (in minutes) to resolve the incident (integer)"},
          "ActualEffort": {"type": "integer", "nullable": true, "description": "The actual effort (in minutes) it took to resolve the incident (integer)"},
          "RemainingEffort": {"type": "integer", "nullable": true, "description": "The effort remaining as reported by the developer"},
          "ProjectedEffort": {"type": "integer", "nullable": true, "description": "The projected actual effort of the incident when it is completed (integer)"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time that the incident was last modified (date-time)"},
          "PriorityName": {"type": "string", "description": "The display name of the priority of the incident (string)"},
          "SeverityName": {"type": "string", "description": "The display name of the severity of the incident (string)"},
          "IncidentStatusName": {"type": "string", "description": "The display name of the status of the incident (string)"},
          "IncidentTypeName": {"type": "string", "description": "The display name of the type of the incident (string)"},
          "OpenerName": {"type": "string", "description": "The display name of the user that detected the incident (string)"},
          "OwnerName": {"type": "string", "description": "The display name of the user that the incident is assigned to (string)"},
          "ProjectName": {"type": "string", "description": "The display name of the project the incident belongs to (string)"},
          "DetectedReleaseVersionNumber": {"type": "string", "description": "The version number of the release/iteration that the incident was detected in (string)"},
          "ResolvedReleaseVersionNumber": {"type": "string", "description": "The version number of the release/iteration that the incident will be resolved in (string)"},
          "VerifiedReleaseVersionNumber": {"type": "string", "description": "The version number of the release/iteration that the incident was retested in (string)"},
          "IncidentStatusOpenStatus": {"type": "boolean", "nullable": true, "description": "Is the incident in an 'open' status or not?"},
          "FixedBuildId": {"type": "integer", "nullable": true, "description": "The id of the build that the incident was fixed in (integer)"},
          "FixedBuildName": {"type": "string", "description": "The name of the build that the incident was fixed in (string)"},
          "DetectedBuildId": {"type": "integer", "nullable": true, "description": "The id of the build that the incident was detected in (integer)"},
          "DetectedBuildName": {"type": "string", "description": "The name of the build that the incident was detected in (string)"},
          "ProjectId": {"type": "integer", "description": "The id of the project that the artifact belongs to"},
          "ProjectGuid": {"type": "string", "description": "The guid of the project that the artifact belongs to"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The datetime used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this artifact", "items": {"type": "object", "description": "Schema: RemoteArtifactCustomProperty"}},
          "IsAttachments": {"type": "boolean", "description": "Does this artifact have any attachments?"},
          "Tags": {"type": "string", "description": "The list of meta-tags that should be associated with the artifact"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"}
        }
      },
      "RemoteIncidentPriority": {
        "type": "object",
        "properties": {
          "PriorityId": {"type": "integer", "nullable": true, "description": "The id of the incident priority (integer)"},
          "Name": {"type": "string", "description": "The name of the incident priority (string)"},
          "Active": {"type": "boolean", "description": "Whether the priority is active or not (boolean)"},
          "Color": {"type": "string", "description": "The hex color code associated with the priority (string)"},
          "Score": {"type": "integer", "nullable": true, "description": "The score value"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteIncidentSeverity": {
        "type": "object",
        "properties": {
          "SeverityId": {"type": "integer", "nullable": true, "description": "The id of the incident severity (integer)"},
          "Name": {"type": "string", "description": "The name of the severity (string)"},
          "Active": {"type": "boolean", "description": "Whether the severity is active or not (boolean)"},
          "Color": {"type": "string", "description": "The hex color code associated with the severity (string)"},
          "Score": {"type": "integer", "nullable": true, "description": "The score value"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteIncidentStatus": {
        "type": "object",
        "properties": {
          "IncidentStatusId": {"type": "integer", "nullable": true, "description": "The id of the incident status (integer)"},
          "Name": {"type": "string", "description": "The name of the incident status (string)"},
          "Active": {"type": "boolean", "description": "Whether this status is active or not (boolean)"},
          "Open": {"type": "boolean", "description": "Whether this status is considered an 'open' status or not (boolean)"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteIncidentType": {
        "type": "object",
        "properties": {
          "IncidentTypeId": {"type": "integer", "nullable": true, "description": "The id of the incident type (integer)"},
          "Name": {"type": "string", "description": "The name of the incident type (string)"},
          "Active": {"type": "boolean", "description": "Whether the incident type is active or not (boolean)"},
          "Issue": {"type": "boolean", "description": "Should incidents of this type appear in the 'Top Open Issues' section (boolean)"},
          "Risk": {"type": "boolean", "description": "Should incidents of this type appear in the 'Top Open Issues' section (boolean)"},
          "WorkflowId": {"type": "integer", "description": "The id of the workflow incidents of this type are associated with (integer)"},
          "Default": {"type": "boolean", "description": "Is this type the default type for incidents in this product"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteIntegerSetting": {
        "type": "object",
        "properties": {
          "Name": {"type": "string", "description": "The name of the setting"},
          "Value": {"type": "integer", "nullable": true, "description": "The value of the setting"}
        }
      },
      "RemoteLinkedArtifact": {
        "type": "object",
        "properties": {
          "ArtifactId": {"type": "integer", "description": "The ID of the artifact"},
          "ArtifactTypeId": {"type": "integer", "description": "The ID of the type of the artifact"},
          "Name": {"type": "string", "description": "The name of the artifact"},
          "Status": {"type": "string", "description": "The artifact's status name/description"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"},
          "ConcurrencyGuid": {"type": "string", "description": "GUID for representing the concurrency state of a given artifact"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time the artifact was updated"}
        }
      },
      "RemoteManualTestRun": {
        "type": "object",
        "properties": {
          "TestRunSteps": {"type": "array", "description": "The list of test steps that comprise the manual test", "items": {"type": "object", "description": "Schema: RemoteTestRunStep"}},
          "TestRunId": {"type": "integer", "nullable": true, "description": "The id of the test run"},
          "Name": {"type": "string", "description": "The name of the test run (usually the same as the test case)"},
          "TestCaseId": {"type": "integer", "description": "The id of the test case that the test run is an instance of"},
          "TestCaseGuid": {"type": "string", "description": "The guid of the test case that the test run is an instance of"},
          "TestRunTypeId": {"type": "integer", "description": "The id of the type of test run (automated vs. manual)"},
          "TesterId": {"type": "integer", "nullable": true, "description": "The id of the user that executed the test"},
          "TesterGuid": {"type": "string", "description": "The guid of the tester."},
          "ExecutionStatusId": {"type": "integer", "description": "The id of overall execution status for the test run"},
          "ReleaseId": {"type": "integer", "nullable": true, "description": "The id of the release that the test run should be reported against"},
          "ReleaseGuid": {"type": "string", "description": "The guid of the release"},
          "TestSetId": {"type": "integer", "nullable": true, "description": "The id of the test set that the test run should be reported against"},
          "TestSetGuid": {"type": "string", "description": "The guid of the test set"},
          "TestSetTestCaseId": {"type": "integer", "nullable": true, "description": "The id of the unique test case entry in the test set"},
          "StartDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time that the test execution was started"},
          "EndDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "The date/time that the test execution was completed"},
          "BuildId": {"type": "integer", "nullable": true, "description": "The id of the build that the test was executed against"},
          "EstimatedDuration": {"type": "integer", "nullable": true, "description": "The estimated duration of how long the test should take to execute (read-only)"},
          "ActualDuration": {"type": "integer", "nullable": true, "description": "The actual duration of how long the test should take to execute (read-only)"},
          "TestConfigurationId": {"type": "integer", "nullable": true, "description": "The id of the specific test configuration that was used"},
          "ReleaseVersionNumber": {"type": "string", "description": "version number of the release this test run was run against."},
          "ProjectId": {"type": "integer", "description": "The id of the project that the artifact belongs to"},
          "ProjectGuid": {"type": "string", "description": "The guid of the project that the artifact belongs to"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The datetime used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this artifact", "items": {"type": "object", "description": "Schema: RemoteArtifactCustomProperty"}},
          "IsAttachments": {"type": "boolean", "description": "Does this artifact have any attachments?"},
          "Tags": {"type": "string", "description": "The list of meta-tags that should be associated with the artifact"},
          "Guid": {"type": "string", "description": "The unique identifier for the artifact"}
        }
      },
      "RemoteMessage": {
        "type": "object",
        "properties": {
          "MessageId": {"type": "integer", "description": "The id of the message"},
          "SenderUser": {"type": "object", "description": "The sender of the message (Schema: RemoteUser)"},
          "RecipientUser": {"type": "object", "description": "The recipient (null for a group message) (Schema: RemoteUser)"},
          "CreationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time this message was created"},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "description": "The date/time this message was last updated"},
          "Body": {"type": "string", "description": "The contents of the message"},
          "IsRead": {"type": "boolean", "description": "Has this message been read"},
          "RecipientArtifact": {"type": "object", "description": "The artifact the message was sent to, populated for group messages (Schema: RemoteLinkedArtifact)"}
        }
      },
      "RemoteMessageIndividual": {
        "type": "object",
        "properties": {
          "RecipientUserId": {"type": "integer", "description": "The id of the recipient user"},
          "MessageText": {"type": "string", "description": "The contents of the message"}
        }
      },
      "RemoteMessageInfo": {
        "type": "object",
        "properties": {
          "UnreadMessages": {"type": "integer", "nullable": true, "description": "The total number of unread messages"},
          "OnlineUsers": {"type": "array", "description": "The ids of online users", "items": {"type": "integer"}}
        }
      },
      "RemoteProductSourceCodeProvider": {
        "type": "object",
        "properties": {
          "ProjectId": {"type": "integer", "description": "ID of the product this source code provider configuration is for"},
          "VersionControlSystemId": {"type": "integer", "description": "Unique internal ID of this version control configuration"},
          "IsActive": {"type": "boolean", "description": "Whether or not this configuration is active"},
          "ConnectionInfo": {"type": "string", "description": "Connection info intended for this product"},
          "Login": {"type": "string", "description": "Login credential for connecting to the relevant provider"},
          "Password": {"type": "string", "description": "Update only password field for setting the password credential on a newly created provider or when updating a provider"},
          "Domain": {"type": "string", "description": "Used by specific integrations for setting some domain information which is separate from the connection info"},
          "Custom01": {"type": "string", "description": "Custom input field for behavior or information specific to a given source code provider"},
          "Custom02": {"type": "string", "description": "Custom input field for behavior or information specific to a given source code provider"},
          "Custom03": {"type": "string", "description": "Custom input field for behavior or information specific to a given source code provider"},
          "Custom04": {"type": "string", "description": "Custom input field for behavior or information specific to a given source code provider"},
          "Custom05": {"type": "string", "description": "Custom input field for behavior or information specific to a given source code provider"}
        }
      },
      "RemoteProgram": {
        "type": "object",
        "properties": {
          "WorkspaceTypeId": {"type": "integer"},
          "ProgramId": {"type": "integer", "nullable": true, "description": "ID of the program"},
          "Name": {"type": "string", "description": "Name of the program"},
          "Description": {"type": "string", "description": "Description of the program"},
          "Website": {"type": "string", "description": "Website associated with this program"},
          "PortfolioId": {"type": "integer", "nullable": true, "description": "ID of the portfolio this program belongs to"},
          "ProjectTemplateId": {"type": "integer", "nullable": true, "description": "Project template ID associated with this program"},
          "isActive": {"type": "boolean", "description": "Whether or not this program is active"},
          "isDefault": {"type": "boolean", "description": "Whether or not this program is the default"},
          "Guid": {"type": "string", "description": "The unique identifier for the workspace"},
          "LastUpdatedDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Last time this item was updated"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyGuid": {"type": "string", "description": "The field used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this workspace", "items": {"type": "object", "description": "Schema: RemoteSystemArtifactCustomProperty"}}
        }
      },
      "RemoteProgramMilestone": {
        "type": "object",
        "properties": {
          "MilestoneId": {"type": "integer", "nullable": true, "description": "ID of the program milestone"},
          "Guid": {"type": "string", "description": "Artifact guid for unique identification of an artifact"},
          "CreatorId": {"type": "integer", "nullable": true, "description": "UserId of the creator of this milestone"},
          "CreatorName": {"type": "string", "description": "Full name of the creator of this milestone"},
          "OwnerId": {"type": "integer", "nullable": true, "description": "UserId of the owner of this milestone"},
          "OwnerName": {"type": "string", "description": "Full name of the owner of this milestone"},
          "StatusId": {"type": "integer", "nullable": true, "description": "ID of the program milestone status this milestone has"},
          "StatusIsOpen": {"type": "boolean", "nullable": true, "description": "Whether or not this status makes this milestone \"Open\""},
          "StatusName": {"type": "string", "description": "Name of the milestone status this milestone has"},
          "TypeId": {"type": "integer", "nullable": true, "description": "ID of the program milestone type this milestone has"},
          "TypeName": {"type": "string", "description": "Name of the program milestone type this milestone has"},
          "Name": {"type": "string", "description": "Name of this milestone"},
          "Description": {"type": "string", "description": "Description of the milestone"},
          "ProjectGroupId": {"type": "integer", "description": "ID of the project group which this milestone belongs to"},
          "ProjectGroupName": {"type": "string", "description": "Name of the project group this milestone belongs to"},
          "StartDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Start date of this milestone"},
          "ChildrenStartDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Earliest start date of this milestone's children releases"},
          "EndDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "End date of this milestone"},
          "ChildrenEndDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true, "description": "Earliest end date of this milestone's children releases"},
          "CreationDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true},
          "LastUpdateDate": {"type": "string", "format": "date-time", "example": "2023-05-16T00:00:00Z", "nullable": true},
          "PercentComplete": {"type": "integer", "description": "Percent of the associated capabilities which are completed"},
          "ReleaseCount": {"type": "integer", "description": "Number of releases associated with this milestone"},
          "RequirementCount": {"type": "integer", "description": "Number of requirements which are within the child releases"},
          "ArtifactTypeId": {"type": "integer", "description": "The type of artifact that we have"},
          "ConcurrencyGuid": {"type": "string", "description": "The field used to track optimistic concurrency to prevent edit conflicts"},
          "CustomProperties": {"type": "array", "description": "The list of associated custom properties/fields for this workspace", "items": {"type": "object", "description": "Schema: RemoteSystemArtifactCustomProperty"}}
        }
      },
      "RemoteProgramMilestoneStatus": {
        "type": "object",
        "properties": {
          "StatusId": {"type": "integer", "description": "ID of this program milestone Status"},
          "Name": {"type": "string", "description": "Name of this status"},
          "IsOpen": {"type": "boolean", "description": "Whether or not this is an \"Open\" status"},
          "IsActive": {"type": "boolean", "description": "Whether or not this status is active (Able to be used in User Interface)"},
          "IsDefault": {"type": "boolean", "description": "Whether or not this is the default program milestone status"}
        }
      },
      "RemoteProgramMilestoneType": {
        "type": "object",
        "properties": {
          "TypeId": {"type": "integer", "description": "ID of this program milestone type"},
          "Name": {"type": "string", "description": "Name of this type"},
[...]
